@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'Exo2';
    src: url('./fonts/exo2.ttf');
 } */
@font-face {
    font-family: "Montserrat";
    src: url('./fonts/mont.ttf');
}